In [30]:
import scipy.stats as stats
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

In [34]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
moore = sm.datasets.get_rdataset("Moore", "carData", cache=True) # load
data = moore.data

In [37]:
data = data.rename(columns={"partner.status" :"partner_status"}) # make name pythonic
data.head()

  partner_status  conformity fcategory  fscore
0            low           8       low      37
1            low           4      high      57
2            low           8      high      65
3            low           7       low      20
4            low          10       low      36

## first OLS is applied on dataset before 2 way annova

### there are 2 categorical Independent variables (partner_status, fcategory ) and 1 continuous dependent variables (conformity)

In [39]:

moore_lm = ols('conformity ~ C(fcategory, Sum)*C(partner_status, Sum)',data=data).fit()

# __'type'__ shows which anova test is carried out, one way or two way

In [41]:

table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 Anova DataFrame
print(table)

                                              sum_sq    df          F  \
C(fcategory, Sum)                          11.614700   2.0   0.276958
C(partner_status, Sum)                    212.213778   1.0  10.120692
C(fcategory, Sum):C(partner_status, Sum)  175.488928   2.0   4.184623
Residual                                  817.763961  39.0        NaN

                                            PR(>F)
C(fcategory, Sum)                         0.759564
C(partner_status, Sum)                    0.002874
C(fcategory, Sum):C(partner_status, Sum)  0.022572
Residual                                       NaN

## Pvalue for category and partner status combined (0.022) is less than 0.05, null hypothsis is rejected. so with 95 % confidence it can be said that combination of 'category' and 'partnerstatus' have significant effect on 'conformity'..